@media screen and (max-width:750px) {
    .accordion-container {
        padding: 1rem 0 !important;
    }

    .accordion#accordion-parent .accordion-item .accordion-title {
        font-size: 14px !important;
    }

    .accordion#accordion-parent .accordion-item .accordion-body .accordian-title {
        font-size: 13px !important;
    }

    .accordion#accordion-parent .accordion-item .accordion-body .sub-list {
        margin-left: -0.5rem;
    }

    .btn.btn-green-reverse,
    .btn.btn-blue-reverse {
        font-size: 14px !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .wrapper-btn {
        justify-content: center !important;
    }

    .wrapper-btn .btn-tambah {
        margin-left: 0 !important;
        margin-top: 1rem;
    }

}

@media screen and (max-width:450px) {
    .label-role {
        max-width: 60% !important;
    }
}

li::marker {
    font-size: 25px !important;
    color: black;
}

.accordion#accordion-parent .accordion-item:not(:last-child) {
    margin-bottom: 1rem;
}

.accordion#accordion-parent .accordion-item {
    border-radius: 10px !important;
    overflow: hidden;
}


.accordion#accordion-parent .accordion-header div>p {
    font-family: 'Roboto';
    font-weight: 600;
    margin: 0 0 0 1rem !important;
    padding: 0 !important;
}

.accordion-button {
    align-items: center;
    background-color: transparent !important;
    border: none;
    border-radius: 0;
    color: var(--bs-accordion-btn-color);
    display: flex;
    font-size: 1rem;
    overflow-anchor: none;
    /* padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x); */
    position: relative;
    text-align: left;
    transition: var(--bs-accordion-transition);
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button {
        transition: none
    }
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(var(--bs-accordion-border-width)*-1) 0 var(--bs-accordion-border-color);
    color: var(--bs-accordion-active-color)
}

.accordion-button:not(.collapsed):after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform)
}

.accordion-button:after {
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    content: "";
    flex-shrink: 0;
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    transition: var(--bs-accordion-btn-icon-transition);
    width: var(--bs-accordion-btn-icon-width)
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button:after {
        transition: none
    }
}

.accordion-button:hover {
    z-index: 2
}

.accordion#accordion-child .accordion-item {
    border: none !important;
}

.accordion#accordion-child {
    margin-left: 1rem !important;
}

.accordion#accordion-child .accordion-item:not(:last-child) {
    margin-bottom: 0 !important;
}

.accordion#accordion-child .accordion-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#tambahDataModal .modal-content .bg-spin {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000075;
}
