@media screen and (max-width:780px) {
    .btn-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .area-wrapper {
        flex-direction: column;
    }

    .area-wrapper label {
        min-width: 100% !important;
    }

    .area-wrapper .btn-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1rem;
        width: 100%;
    }
}

.title-timeline p,
.area-wrapper label p {
    font-family: 'Roboto';
    font-weight: 600;
}

.title-timeline p {
    color: #000000;
}

.area-wrapper label p {
    color: #809FB8;
}

.btn-green {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
}

.btn-custom {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px !important;
}

@media screen and (max-width:780px) {
    .btn-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .area-wrapper {
        flex-direction: column;
    }

    .area-wrapper label {
        min-width: 100% !important;
    }

    .area-wrapper .btn-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1rem;
        width: 100%;
    }
}

li::marker {
    color: black;
}

.modal-body {
    padding: 3rem 2rem !important;
}

@media (min-width:992px) {
    .modal-body {
        padding: 3rem 5rem !important;
    }
}

.history {
    padding: 1rem 0;
}

.history p {
    margin: 0;
}

.history .history-item {
    display: flex;
    align-items: flex-start;
}

.history .history-item .history-item-date {
    white-space: nowrap;
    font-style: italic;
    color: rgba(0, 144, 255, 0.7);
    font-size: 16px;
}

.history .history-item .history-item-wrapper {
    border-left: 2px solid black;
    margin-left: 2rem;
    display: flex;
    position: relative;
}

.history-item .history-item-wrapper .point-wrapper {
    width: 1.5rem;
    height: 1.4rem;
    background-color: rgba(249, 185, 89, 0.47);
    position: absolute;
    left: -.83rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-item-wrapper .point-wrapper .point {
    width: .6rem;
    height: .6rem;
    background-color: black;
    border-radius: 50%;
}

.history-item .history-item-wrapper p {
    margin-left: 1.5rem;
    color: black;
}

.history-item:not(:last-child) .history-item-wrapper p {
    padding-bottom: .8rem;
}

label {
    font-family: 'Roboto';
}

.form-group label,
.form-group input::placeholder {
    font-weight: 400;
    font-size: 14px;
}

.check {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    transform: translateX(-11px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
}

.check-danger {
    background-color: #EA3A3D;
    color: #fff;
}

.check-success {
    background-color: #1AD598;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
}

.check-border {
    border: 3px solid #e1e3ea;
    background-color: #fff;
}

.check-warning {
    background-color: #F9B959;
    color: #fff;
    font-size: 12px;
}
