.btn-ubah {
    padding: 10px 18px 10px 20px;
    background: #f2f2f2;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1ad598;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto";
    font-size: 16px;
    margin-left: 10px;
}

p,
span,
h4,
label {
    font-family: "Roboto";
}

.custom-badge {
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
}

.custom-badge-sm {
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
}

.custom-badge > img {
    width: 1.3rem;
}

.custom-badge.custom-badge-purple-light,
.custom-badge-sm.custom-badge-purple-light {
    background-color: rgba(219, 90, 238, 0.4);
    color: #db5aee;
}

.custom-badge.custom-badge-green {
    background-color: #1ad598;
}

.custom-badge.custom-badge-yellow-light,
.custom-badge-sm.custom-badge-yellow-light {
    background-color: rgba(255, 181, 54, 0.298039);
    color: #ffb536;
}

.custom-badge.custom-badge-blue-light,
.custom-badge-sm.custom-badge-blue-light {
    background-color: rgba(33, 126, 253, 0.298039);
    color: #217efd;
}

.doc-wrapper {
    list-style: none;
    padding: 0 !important;
}

.doc-wrapper .doc-item:not(:first-child) {
    margin-top: 0.8rem;
}

.doc-wrapper .doc-item p {
    margin: 0 0 0 1rem;
}

@media screen and (max-width: 400px) {
    .btn-simpan {
        margin-top: 10px;
    }
}
