.btn-ubah {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px 10px 20px;
    background: #F2F2F2;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1AD598;
}

.btn-ubah span {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 16px;
    margin-left: 10px;
}

p,
span,
h4,
label {
    font-family: 'Roboto';
}

.form-group label,
.form-group input::placeholder {
    font-weight: 400;
    font-size: 14px;
}

.custom-badge {
    border-radius: 5px;
    padding: .5rem .8rem;
}

.custom-badge-sm {
    border-radius: 5px;
    padding: .3rem .6rem;
}

.custom-badge>img {
    width: 1.3rem;
}

.custom-badge.custom-badge-purple-light,
.custom-badge-sm.custom-badge-purple-light {
    background-color: rgba(219, 90, 238, 0.4);
    color: #DB5AEE;
}

.custom-badge.custom-badge-green {
    background-color: #1AD598;
}

.custom-badge.custom-badge-yellow-light,
.custom-badge-sm.custom-badge-yellow-light {
    background-color: rgba(255, 181, 54, 0.298039);
    color: #FFB536;
}

.custom-badge.custom-badge-blue-light,
.custom-badge-sm.custom-badge-blue-light {
    background-color: rgba(33, 126, 253, 0.298039);
    color: #217EFD;
}

.doc-wrapper {
    list-style: none;
    padding: 0 !important;
}

.doc-wrapper .doc-item:not(:first-child) {
    margin-top: .8rem;
}

.doc-wrapper .doc-item p {
    margin: 0 0 0 1rem;
}

.form-control {
    border: 1px solid #2F80ED !important;
}
