.card-header {
    border-bottom: 0;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: rgba(234, 58, 61, 0.9);

    border-color: #ddd #ddd #fff;
}

.form-wrapper {
    padding: 0 10px !important;
}

@media screen and (max-width: 750px) {
    .nav-item a h6 {
        font-size: 14px !important;
    }

    .header-regist {
        font-size: 30px !important;
    }

    .nav-item .nav-link {
        padding: 7px 7px !important;
    }

    .form-wrapper {
        padding: 0 !important;
    }

    .link-login {
        position: relative !important;
        margin-top: 1rem;
        align-self: center;
    }
}

.nav-tabs .nav-link {
    background-color: rgba(234, 58, 61, 0.5);
    color: white;
}

.nav-tabs .nav-link:hover {
    color: white;
}

.input-file {
    width: 100%;
    min-height: 70px;
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px !important;
}

.input-file .icon {
    display: flex;
    flex-direction: column;
}

.file_ttd-priview {
    width: 100% !important;
    object-fit: cover;
    object-position: center;
}
